setuptools
numpy
soundfile
librosa
matplotlib
seaborn
-e git+https://github.com/prashanthtr/paramManager#egg=paramManager
-e git+https://github.com/prashanthtr/genericSynth#egg=genericSynth
-e git+https://github.com/prashanthtr/nsjsonmanager#egg=nsjsonmanager
-e git+https://github.com/prashanthtr/DSGenerator#egg=DSGenerator